body{
    display: flex;
    flex-direction: column;
}

.first{
    width: 100%;
    height: auto;
    display: block;
}

.title{
    font-size: 4em;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.title-text{
    font-size: 1em;
    text-align: justify;
    margin: 0 20px;
    padding: 0 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    height: fit-content;
    width: 75%;
}

.card-image{
    height: 300px;
    margin: 20px 20px 20px 30px;
    border-radius: 10px;
}

.card-left{
    float: right;
    padding: 2px;
}

.card-text{
    text-align: justify;
    margin: 20px;
}

.card-title{
    font-size: 3em;
    margin: 5px 5px 5px 15px;
    padding: 5px;
}

.card-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.card-gallery img{
    height: 275px;
    border-radius: 10px;
    margin: 20px 10px;
}

@media only screen and (max-width: 1000px) {
    .card-left{
        align-self: center;
    }

    .card{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: center;
    }

    .card-image{
        width: 90%;
        height: auto;
        margin: 20px;
        border-radius: 10px;
    }

    .card-gallery img{
        height: 200px;
        border-radius: 10px;
        margin: 20px 10px;
    }
}


