body{
    display: flex;
    flex-direction: column;
}

.first{
    width: 100%;
    height: auto;
    display: block;
}

.title{
    font-size: 4em;
    text-align: center;
    margin: 0;
    padding: 20px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.card{
    width: 30%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    max-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title{
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.card-img{
    width: 100%;
    display: block;
    border-radius: 5px;
    background-color: #fff;
}

.card-text-content{
    text-align: justify;
    flex-grow: 1;
}

.card-text{
    overflow: hidden;
}

.card:nth-last-child(-n+3){
    margin-bottom: 40px;
}


@media only screen and (max-width: 1200px) {
    .card{
        width: 45%;
    }

    .card-text{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 15;
        -webkit-box-orient: vertical;
    }
}
